/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.s-2 .container, .s-1 .container {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
}
@media (max-width: 1200px) {
  .s-2 .container, .s-1 .container {
    width: 90%;
  }
}
@media (max-width: 400px) {
  .s-2 .container, .s-1 .container {
    width: 80%;
  }
}

.s-1 {
  background-color: lightcyan;
}
.s-1 .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: lightblue;
  height: 400px;
}
.s-1 .container > .box {
  width: 100px;
  height: 100px;
}
.s-1 .container > .box:first-child {
  background-color: blue;
}
.s-1 .container > .box:nth-child(2) {
  background-color: yellow;
}
.s-1 .container > .box:last-child {
  background-color: red;
}
@media (max-width: 400px) {
  .s-1 .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: space-around;
        -ms-flex-align: space-around;
            align-items: space-around;
  }
}

.s-2 .container {
  background-color: lightgreen;
  padding: 50px 0;
}
.s-2 .container h2 {
  font-size: 42px;
  color: darkblue;
  letter-spacing: 2px;
  word-spacing: 5px;
  text-transform: capitalize;
  margin-bottom: 30px;
  text-align: center;
}
.s-2 .container .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.s-2 .container .wrapper > img {
  width: 200px;
}
@media (max-width: 690px) {
  .s-2 .container .wrapper > img {
    margin-bottom: 30px;
  }
}
.s-2 .container .wrapper > p {
  width: 50%;
  font-size: 24px;
  color: darkblue;
}
@media (max-width: 690px) {
  .s-2 .container .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: space-around;
        -ms-flex-align: space-around;
            align-items: space-around;
  }
}/*# sourceMappingURL=global.css.map */