// @mixin mycontainer {
//     max-width: 1170px;
//     width: 100%;
//     margin: 0 auto;
// }

@mixin goflex($flexdirection, $justify, $align) {
    display: flex;
    flex-direction: $flexdirection;
    justify-content: $justify;
    align-items: $align;
}

// @mixin sizesXY($width, $height: $width) {
//     width: $width;
//     height: $height;
// }

@mixin sizesXY($width, $height: $width) {
    width: $width;
    height: $height;
}
