%mycontainer {
    max-width: 1170px;
    width: 100%;
    margin: 0 auto;
    @media (max-width: $tabletsize) {
        width: 90%;
    }
    @media (max-width: $foldsize) {
        width: 80%;
    }
}
